.header,
.realtor>.container>h1,
.services>.container>h1,
.get-it-sold>.container>h1,
.gallery>.container>h1,
.listings>.container>div>h1,
.contact>.container>h1 {
    font-family: "Playfair Display", serif;
}

.header h1 {
    font-size: 57px;
    font-weight: 400;
}

.header h2 {
    font-size: 32px;
    font-weight: 400;
}

.header h3 {
    font-size: 22px;
    font-weight: 400;
}

.btn {
    font-size: 1.6rem;
    font-weight: 600;
    padding: 1.2rem 3rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
}

.realtor, 
.services,
.get-it-sold,
.site-footer {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.realtor h1 {
    font-size: 32px;
    font-weight: 600;
}

.realtor p {
    font-size: 24px;
}

.services h3, 
.get-it-sold h3,
.contact h3 {
    font-size: 26px;
}

.services p, 
.contact p, 
.site-footer p {
    font-size: 16px;
}

.get-it-sold p {
    font-size: 20px;
}

.contact h2 {
    font-size: 28px;
}